.container {
    width: 300px;
    border: 1px solid var(--light-gray);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.list {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.item .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.list li {
    margin-bottom: 10px;
}

.projectList {
    max-height: 200px;
    overflow-y: auto;
}